# Maven build / release files
pom.xml.releaseBackup
target/

# stuff to ignore explicitly by name, mostly for porting old code
*.orig-gitignore.*

# sublime editor files
*.sublime-project
*.sublime-workspace

# VS Code files
.vscode/
*.code-workspace